name: Auto deploy NodeJS app to aws

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{secrets.SSH_HOST}}
          username: ubuntu
          key: ${{secrets.SSH_KEY}}
          script: |
            cd /home/ubuntu/github-actions
            git pull https://github.com/imSyntn/github-actions.git
            docker compose up -d --build
